body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url(background.webp) no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.game-container {
    text-align: center;
    padding: 30px;
    background: rgba(0, 0, 0, 0.6);
    max-width: 500px;
    margin: auto;
    border-radius: 20px;
}

h1 {
    margin-bottom: 20px;
    font-size: 36px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

img {
    width: 100%;
    max-width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    border: 3px solid #fff;
}

.answer-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 20px;
}

.answer-box input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border-radius: 8px;
    border: 2px solid #fff;
    background: #000;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    margin: 10px 5px;
    border-radius: 10px;
    background-color: #ca8dfd;
    color: #f0ceff;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background-color: #c175ff;
}

.result-text{
    font-size: 18px;
    margin-top: 10px;
}

#backHome {
    position: absolute;
    top: 4%;
    left: 3%;
    width: 75px;
    height: 75px;
}

#backHome:hover {
    transform: scale(1.1);
    cursor: pointer;
}